html{
    box-sizing: border-box;
}
*,
*:before,
*.after{
    box-sizing: inherit;
}
.wrapper{
    width: 400px;
    background-color: black;
    color: white;
}
.screen{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 40px;
}
.calc-button-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;;
}
.calc-button{
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
    margin-bottom: 0.5%;
}
.calc-button:nth-child(4),
.calc-button:last-child{
    background:#df974c;
}
.calc-button:nth-child(4):hover,
.calc-button:last-child:hover{
    background:#dfb07e
}

.calc-button:active{
    background-color: #bbbcbe;
}
.calc-button:hover{
    background-color: #ebebeb;
}
.double{
    flex-basis: 49.7%;;
}
.triple{
    flex-basis: 74.8%;
}